@charset "UTF-8";
/* CSS document */
/* Descripcion: estilo para Blue american
Autor: Omar De Luna
actualización: junio 2013 */


img{border:0;}

* { margin: 0; padding: 0; font-family: 'GraphikLight', sans-serif;}

a, input, nav ul{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	}


body{
	background:#ffdf00;
	}


main {
	width: 100%;
	height: 100%;
	margin:0 auto;
	text-align: center;
	padding-top: 40vh;
	}

main img{
	margin: 0 auto;
}


header{
	width: 94%;
	padding: 40px 3%;
	position: relative;
	background: #000;
}


nav{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

nav ul{
	list-style: none;
}

nav ul li{
	border-right: 1px solid white;
}

nav ul li:last-child{
	border: 0;
}

nav ul li a{
	font-size: 1.4vh;
	line-height: 20px;
	letter-spacing: 1px;
	color: white;
	margin: 0 20px;
	overflow-wrap:normal;
	word-wrap: normal;
	word-break: keep-all;
}

nav ul li a:hover{
	color: #00ffff;
}

nav ul li a.active{
	color: #00ffff;
}





footer{
	width: 90%;
	padding: 0px 5%;
	background: #141414;
	border-top: 1px solid white;
}


	
h1{
	font-size:70px;
	line-height:70px;
	color:#fff;
	}

	
p {
	font-size:16px;
	line-height:22px;
	color:white;
	}


a {
	font-size:16px;
	line-height:22px;
	color:white;
	text-decoration:none;
	}
	
a:hover {
	color:white;
	}

.cleare {
	display: block;
	clear: both;
}





@media only screen and (min-width:0px) and (max-width:450px){


}
